@charset "UTF-8";

:root {
    --main-color: rgb(243, 249, 255);
    --main-color-light: #41688C;
    --main-color-dark: #122b8c;
    --main-color-grey: #464545;
}

/**
 * Define o estilo padrão para o corpo da página.
 */
html, body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);

}

body a {
    text-decoration: none !important;
}

main {
    flex: 1;
}

.form {
    overflow: auto;
}

/**
 * Define o estilo do cabeçalho da página.
 */
header {
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/**
 * Define o estilo do container do cabeçalho.
 */
.header-container {
    margin: 10px auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/**
 * Define o estilo do logotipo da concessionária.
 */
.logo {
    width: 200px;
    height: auto;
}

/**
 * Define o estilo da imagem do logotipo.
 */
.logo img {
    width: 100%;
    height: auto;
}

/**
 * Define o estilo do usuário logado.
 */
.user {
    color: black;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid transparent;
    width: auto;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

/**
 * Define o estilo do ícone do usuário.
 */
.user-icon {
    margin-left: 10px;
    scale: 1.6;
}

/**
 * Define o estilo do usuário logado ao passar o mouse sobre ele.
 */
.user:hover {
    border: 1px solid #d2e3fc;
    background-color: #d2e3fc67;
}

/**
 * Define o estilo dos links de navegação.
 */
a {
    text-decoration: none;
    color: black;
}

/**
 * Define o estilo dos links de navegação no cabeçalho.
 */
.nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    position: relative;
    display: inline-block;
}

/**
 * Define o estilo dos pseudo-elementos ::before e ::after nos links de navegação.
 */
.nav a::before,
.nav a::after {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
    width: 0%;
    height: 0%;
    transition: all 0.5s ease;
}

/**
 * Define o estilo do pseudo-elemento ::after nos links de navegação.
 */
.nav a::after {
    top: 0;
    left: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}

/**
 * Define o estilo do pseudo-elemento ::before nos links de navegação.
 */
.nav a::before {
    right: 0;
    bottom: 0;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}

.nav a:hover::before,
.nav a:hover::after {
    width: 100%;
    height: 100%;
    border-color: var(--main-color-light);
}

/**
 * Define o estilo do conteúdo da página.
 */
.main-container {
    padding: 49px;
    margin: -30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.main-content {
    margin-top: 10px;
    margin-bottom: 45px;
}

.main-menu {
    scale: 1.2;
    height: 60%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: black;
    text-align: center;
    transition: all 0.5s ease;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.menu-item p,
.menu-item i {
    scale: 1;
}

.menu-item:hover {
    /* background-color: #d2e3fc; */
    color: black;
    scale: 1.1;
}

/**
 * Define o estilo do rodapé da página.
 */

.footer-container {
    width: 100%;
    background-color: black;
    color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footer-container p {
    display: flex;
    justify-content: center;
}

.register-footer {
    position: relative;
    display: inline-block;
}

/* Estilo básico do contêiner do menu */
.nav {
    display: flex;
    gap: 20px;
    position: relative;
}

/* Cada menu-item terá um submenu oculto */
.nav-item {
    position: relative;
}

/* Estilos do submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(238, 238, 238);
    min-width: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 1;
}

.submenu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.submenu a:hover {
    background-color:  rgb(238, 238, 238);
}

/* Mostra o submenu ao passar o mouse sobre o item principal */
.nav-item:hover .submenu,
.submenu:hover {
    display: block;
}


/* Estilo do link principal do menu */
.nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
}

/* Contêiner do usuário */
.user-container {
    position: relative;
    display: inline-block;
}

/* Estilo do submenu */
.user-submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 5px;
    background-color: var(--main-color);
    min-width: 150px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.user-submenu a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.user-submenu a:hover {
    background-color: #d2e3fc67;
}

form {
    width: 920px;
}

/* Contêiner do formulário */
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1080px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilo dos rótulos */
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Estilo Fomulario de cadastro */

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

.form-container input:focus,
.form-container input:hover {
    border-color: #4a90e2;
    background-color: #fff;
    outline: none;
}

/* Estilo do botão */
.form-container button {
    width: 103%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #357ab9;
}

.form-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.form-item-user{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid #ccc;
}

.form-item-logout{
    width: 300px; /* Largura da div */
    margin: 0 auto; /* Margens automáticas para centralizar horizontalmente */  
    margin-right: 11.4px;
    text-align: center; 
}

.form-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
}

.search-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    padding-right: 35px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilo dos rótulos */
.search-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Estilo Fomulario de busca */

.search-container input {
    width: 97.5%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

.search-container input:focus,
.search-container input:hover {
    border-color: #4a90e2;
    background-color: #fff;
    outline: none;
}



/* Estilo do botão */
.search-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-container button:hover {
    background-color: #357ab9;
}

.form-container select {
    width: 106%;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
}

.form-container select:focus,
.form-container select:hover {
    border-color: #4a90e2;
    background-color: #fff;
    outline: none;
}

.form-container select::-ms-expand {
    display: none;
}

.form-button-vehicle-register {
    margin-top: 40px;
    width: 95%;
    display: flex;
    justify-content: center;
    grid-column: 1 / -1;
}

.search-edit {
    margin-top: 20px;
    
}

.edit-delete-button {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
}

.edit-delete-button form {
    margin: 0px;
    padding: 0px;
}

.edit-button, .delete-button {
    margin: 0px 5px 0px 5px;
    width: auto !important;
}

.edit-button {
    padding: 6.5px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 24px !important;
}

.edit-button:hover {
    background-color: #357ab9 !important;
}

.delete-button:hover {
    background-color: #ff0000 !important;
}