<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Concessionaria/Assets/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="../javascript/scripts.js"></script>
    <title>Nome Empresa</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../Assets/img/imagemteste.png"
                    alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="../templates/index.html">Home</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="../templates/vehicle_register.html">Veículos</a>
                        <a href="../templates/customer_register.html">Clientes</a>
                        <a href="../templates/employee_register.html">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="../templates/vehicle_search.html">Veículos</a>
                        <a href="../templates/customer_search.html">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="../templates/sales_reports.html">Vendas</a>
                        <a href="../templates/stock_reports.html">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p>{username}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">
                    <a href="#">Perfil</a>
                    <a href="#">Configurações</a>
                    <a href="#">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1>Consulta de Clientes </h1>
            </div>
            <div class="search-container search-item">
                <form action="/search_customer" method="GET" id="search-form">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf" placeholder="Digite o CPF" maxlength="14" required>
                    <button type="submit">Buscar</button>
                </form>
            </div>
            
            <div id="result-container" style="display:none;">
                <h2>Resultado da Busca</h2>
                <div id="profile-picture" style="margin-top: 10px; max-width: 150px; max-height: 200px;">
                </div>
                <div id="customer-details">
                    <p><strong>Nome:</strong> <span id="customer-name"></span></p>
                    <p><strong>CPF:</strong> <span id="customer-cpf"></span></p>
                    <p><strong>Telefone:</strong> <span id="customer-phone"></span></p>
                    <p><strong>Email:</strong> <span id="customer-email"></span></p>
                    <p><strong>Endereço:</strong> <span id="customer-address"></span></p>
                </div>
            </div>
            
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p>© {Ydate} - {Nome Empresa} - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>