<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <title>ERP Concessionaria</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/imagemteste.png')}}" alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="{{ url_for('index')}}">Inicio</a>
                </div>
                <div class="nav-item">
                    <a href="{{ url_for('sales')}}">Venda</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle_register') }}">Veículos</a>
                        <a href="{{ url_for('customer_register') }}">Clientes</a>
                        <a href="{{ url_for('employee_register') }}">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle_search') }}">Veículos</a>
                        <a href="{{ url_for('customer_search') }}">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="#">Vendas</a>
                        <a href="#">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p>{{username}}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">
                    <a href="#">Perfil</a>
                    <a href="#">Configurações</a>
                    <a href="{{ url_for('logout') }}">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1>Cadastro de Funcionários </h1>
            </div>

            {% if message %}
            <p style="color: green;">{{ message|safe }}</p>
            {% endif %}

            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}

            <form action="" method="POST">
                <div class="form-container">
                    <div class="form-item">
                        <label for="profilePhoto">Foto de Perfil</label>
                        <img id="preview" src="#" alt="Pré-visualização"
                            style="display: none; margin-top: 10px; max-width: 150px; max-height: 200px;">
                        <input type="file" id="profilePhoto" name="profilePhoto" accept="image/*">
                    </div>
                    <div class="form-item">
                        <label for="name">Nome</label>
                        <input type="text" name="employee_name" id="name" required>
                    </div>
                    <div class="form-item">
                        <label for="cpf">CPF</label>
                        <input type="text" name="employee_cpf" id="cpf" maxlength="14" required>
                    </div>
                    <div class="form-item">
                        <label for="rg">RG</label>
                        <input type="text" name="employee_rg" id="rg" maxlength="14" required>
                    </div>
                    <div class="form-item">
                        <label for="birthdate_employer">Data de Nascimento</label>
                        <input type="date" name="employee_birth" id="birthdate_employer" required>
                    </div>
                    <div class="form-item">
                        <label for="sex">Sexo</label>
                        <select name="employee_sex">
                            <option value="" selected disabled>Selecione</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                            <option value="O">Outro</option>
                        </select required>
                    </div>
                    <div class="form-item">
                        <label for="employee_position">Cargo</label>
                        <select name="employee_position" id="employee_position">
                            <option value="selecione" selected disabled>Selecione</option>
                            <option value="vendedor">Vendedor</option>
                            <option value="estoque">Estoque</option>
                            <option value="supervisor">Supervisor</option>
                            <option value="financeiro">Financeiro</option>
                            <option value="gerente">Gerente</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="employee_email">E-mail</label>
                        <input type="employee_email" name="employee_email" id="employee_email" required>
                    </div>
                    <div class="form-item">
                        <label for="employee_phone">Telefone</label>
                        <input type="text" name="employee_phone" id="phone" required>
                    </div>
                    <div class="form-item">
                        <label for="employee_address">Endereço</label>
                        <input type="text" name="employee_address" id="employee_address" required>
                    </div>
                    <div class="form-item">
                        <label for="employee_city">Cidade</label>
                        <input type="text" name="employee_city" id="employee_city" required>
                    </div>
                    <div class="form-item">
                        <label for="employee_state">Estado</label>
                        <input type="text" name="employee_state" id="employee_state" required>
                    </div>
                    <div class="form-item">
                        <label for="employee_zip">CEP</label>
                        <input type="text" name="employee_zip" id="zip" required>
                    </div>
                    <div class="form-item">
                        <label for="employee_country">País</label>
                        <input type="text" name="employee_country" id="employee_country" required>
                    </div>
                    <div class="form-item form-button">
                        <button type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-container register-footer">
            <p>©<span id="Ydate"></span> - GLW Sistemas - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>