<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Concessionaria/css/style.css">
    <title>Nome Empresa</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../img/longa-industrial-ltda.logo-logo-icon-png-svg.png" alt="" width="100%">
            </div>
            <nav class="nav">
                <a href="#">Home</a>
                <a href="#">Cadastro</a>
                <a href="#">Consulta</a>
                <a href="#">Relatório</a>
            </nav>
            <div class="user">
                <p>user</p>
                <img src="../img/user.webp" alt="user-profile" width="50">
            </div>
        </div>
    </header>
</body>

</html>