<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Concessionaria/css/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=account_circle" />
    <title>Nome Empresa</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="../img/360_F_784405874_M3DX0QcvMWc8EYZGn1aCyZgiZt1D56uv-removebg.png" alt="logo-empresa">
            </div>
            <nav class="nav">
                <a href="#">Home</a>
                <a href="#">Cadastro</a>
                <a href="#">Consulta</a>
                <a href="#">Relatório</a>
            </nav>
            <div>
                <a class="user" href="">
                    <p>{username}</p>
                    <i class="material-symbols-outlined user-icon">
                        account_circle
                    </i>
                </a>
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer>
        <div class="footer-container">
            <p>{Nome Empresa}</p>
            <p>Endereço: {endereço-empresa}</p>
            <p>Telefone: {telefone-empresa}</p>
            <p>© {Ydate} - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>