<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <title>Nome Empresa</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/imagemteste.png')}}" alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="{{ url_for('index')}}">Home</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle_register') }}">Veículos</a>
                        <a href="{{ url_for('customer_register') }}">Clientes</a>
                        <a href="{{ url_for('employee_register') }}">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle_search') }}">Veículos</a>
                        <a href="{{ url_for('customer_search') }}">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="#">Vendas</a>
                        <a href="#">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p id="username">{{username}}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">
                    <a href="#">Perfil</a>
                    <a href="#">Configurações</a>
                    <a href="{{ url_for('logout') }}">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1 id="username">Seja bem-vindo, {{username}}!</h1>
                <p>Escolha uma das opções no menu abaixo para começar.</p>
            </div>
            <div class="main-menu">
                <a href="{{ url_for('sale') }}" class="menu-item">
                    <p>Realizar Venda</p>
                    <i class="material-symbols-outlined menu-icon">attach_money</i>
                </a>
                <a href="{{ url_for('vehicle_register') }}" class="menu-item">
                    <p>Cadastro Veiculos</p>
                    <i class="material-symbols-outlined menu-icon">directions_car</i>
                </a>
                <a href="{{ url_for('customer_register') }}" class="menu-item">
                    <p>Cadastro Clientes</p>
                    <i class="material-symbols-outlined menu-icon">person_add</i>
                </a>
                <a href="{{ url_for('employee_register') }}" class="menu-item">
                    <p>Cadastro Funcionário</p>
                    <i class="material-symbols-outlined menu-icon">group_add</i>
                </a>
                <a href="{{ url_for('vehicle_search') }}" class="menu-item">
                    <p>Consulta Veiculos</p>
                    <i class="material-symbols-outlined menu-icon">traffic_jam</i>
                </a>
                <a href="{{ url_for('customer_search') }}" class="menu-item">
                    <p>Consulta Clientes</p>
                    <i class="material-symbols-outlined menu-icon">person_search</i>
                </a>
                <a href="{{ url_for('reports') }}" class="menu-item">
                    <p>Relatórios</p>
                    <i class="material-symbols-outlined menu-icon">assignment</i>
                </a>
                <a href="{{ url_for('logout') }}" class="menu-item">
                    <p>Encerar Sessão</p>
                    <i class="material-symbols-outlined menu-icon">logout</i>
                </a>
            </div>
    </main>
    <footer>
        <div class="footer-container register-footer">
            <p>© <span id="Ydate"></span> - GLW Sistemas - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>