<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_style.css')}}">

    <title>ERP Concessionaria</title>  
</head>

<body>
    <div class="page">
        <form method="POST" action="{{ url_for('login') }}">
            <h1>GLW Sistemas</h1>
            <label for="user">Usuário</label>
            <input type="user" name="login" placeholder="Digite seu Usuário" required>

            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" required>

            <button class="button">Acessar Conta</button>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>

</body>

</html>