<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_style.css')}}">
    <title>Acessar sua conta</title>
    
</head>

<body>
    <div class="page">
        <form>
            <h1>GLW Sistemas</h1>
            <label for="user">Usuário</label>
            <input type="user" name="login" placeholder="Digite seu Usuário" required>

            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha" required>

            <input class="button" type="submit" value="ACESSAR CONTA">
        </form>
    </div>

</body>

</html>