<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <title>ERP Concessionaria</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/imagemteste.png')}}" alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="{{ url_for('index')}}">Inicio</a>
                </div>
                <div class="nav-item">
                    <a href="{{ url_for('sales')}}">Venda</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle_register') }}">Veículos</a>
                        <a href="{{ url_for('customer_register') }}">Clientes</a>
                        <a href="{{ url_for('employee_register') }}">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle_search') }}">Veículos</a>
                        <a href="{{ url_for('customer_search') }}">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="#">Vendas</a>
                        <a href="#">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p id="username">{{username}}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">
                    <a href="#">Perfil</a>
                    <a href="#">Configurações</a>
                    <a href="{{ url_for('logout') }}">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1>Vendas</h1>
            </div>
            <form action="" method="POST">

                <div class="form-container">
                    <div class="form-item">
                        <label for="vehicle">Selecione o veículo</label>
                        <select name="vehicle" required>
                            <option value="" selected disabled>Selecione o veículo</option>
                            {% for vehicle in vehicleSaleSelector %}
                                <option value="{{ vehicle['id_veiculo'] }}">
                                    {{ vehicle['marca'] }} {{ vehicle['modelo'] }} - {{ vehicle['placa'] }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="name">Nome do cliente</label>
                        <input type="text">
                    </div>
                    <div class="form-item">
                        <label for="name">CPF do cliente</label>
                        <input type="text" id="cpf">
                    </div>
                    <div class="form-item">
                        <label for="name">Opção de entrega</label>
                        <select name="customer" id="entregaSelect">
                            <option value="" selected disabled>Selecione a opção de entrega</option>
                            <option value="Sim">Enviar para o cliente</option>
                            <option value="Não">Retirada na loja</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="name">Endereço de entrega</label>
                        <input type="text" value="Selecione a opção de entrega" id="deliveryAdress" disabled>
                    </div>
                    <div class="form-item">
                        <label for="name">Método de pagamento</label>
                        <select name="customer" id="paymentSelect" required>
                            <option selected disabled>Selecione o método de pagamento</option>
                            <option value="cartão de crédito">Cartão de Crédito</option>
                            <option value="cartão de débito">Cartão de Débito</option>
                            <option value="dinheiro">Dinheiro</option>
                            <option value="pix">PIX</option>
                            <option value="boleto">Boleto</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="name">Número de parcelas</label>
                        <select name="customer" id="parcelasAmount" disabled required>
                            <option selected disabled>Selecione uma opção que permita parcelamento</option>
                            <option value="1">1x parcela de {price}</option>
                            <option value="24">24x parcela de {price}</option>
                            <option value="36">36x parcela de {price}</option>
                            <option value="48">48x parcela de {price}</option>
                            <option value="60">60x parcela de {price}</option>
                            <option value="72">72x parcela de {price}</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="name">Valor total</label>
                        <input type="text">
                    </div>
                    <div class="form-item">
                        <label for="name">Valor da parcela</label>
                        <input type="text">
                    </div>
                    <div class="form-item form-button-vehicle-register">
                        <button type="submit">Confirmar Venda</button>
                    </div>
                    
                </div>
            </form>
        </div>   
    </main>

    <footer>
        <div class="footer-container register-footer">
            <p>© <span id="Ydate"></span> - GLW Sistemas - Todos os direitos reservados</p>
        </div>
    </footer>

</body>

</html>
