<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="{{ url_for('static', filename='javascript/event_handlers.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/manipulator.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/validator.js') }}"></script>

    <title>ERP Concessionaria</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="{{ url_for('index.home')}}">Home</a>
                </div>
                <div class="nav-item">
                    <a href="{{ url_for('sales.sales')}}">Venda</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle.vehicle_register') }}">Veículos</a>
                        <a href="{{ url_for('customer.customer_register') }}">Clientes</a>
                        <a href="{{ url_for('employee.employee_register') }}">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle.vehicle_search') }}">Veículos</a>
                        <a href="{{ url_for('customer.customer_search') }}">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="{{ url_for('reports.reports') }}">Vendas</a>
                        <a href="{{ url_for('reports.reports') }}">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p>{{username}}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">
                    <a href="#">Perfil</a>
                    <a href="{{ url_for('settings.settings')}}">Configurações</a>
                    <a href="{{ url_for('auth.logout') }}">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1>Editar Cliente</h1>
            </div>

            {% if error %}
            <p style="color: red; margin-top: -35px;"><strong>{{ error }}</strong></p>
            {% endif %}

            {% if customer %}
            <form method="POST" action="{{ url_for('customer.edit_customer', cpf=customer['cpf_cliente']) }}">
                <div class="form-container">
                    <div class="form-item">
                        <label for="customer_name">Nome:</label>
                        <input type="text" id="customer_name" name="customer_name"
                            value="{{ customer['nome_cliente'] }}" required>
                    </div>
                    <div class="form-item">
                        <label for="customer_cpf">CPF:</label>
                        <input type="text" id="cpf" name="customer_cpf" value="{{ customer['cpf_cliente'] }}" readonly required>
                    </div>
                    <div class="form-item">
                        <label for="customer_rg">RG:</label>
                        <input type="text" id="rg" name="customer_rg" value="{{ customer['rg_cliente']}}" required>
                    </div>
                    <div class="form-item">
                        <label for="customer_birth">Data de Nascimento:</label>
                        <input type="date" id="birth" name="customer_birth"
                            value="{{ customer['data_nascimento'] }}" required>
                    </div>
                    <div class="form-item">
                        <label for="customer_sex">Sexo:</label>
                        <select id="customer_sex" name="customer_sex">
                            <option value="M" {% if customer['sexo_cliente']=='M' %}selected{% endif %}>Masculino</option>
                            <option value="F" {% if customer['sexo_cliente']=='F' %}selected{% endif %}>Feminino</option>
                            <option value="O" {% if customer['sexo_cliente']=="O" %} selected{% endif %}>Outro</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="customer_phone">Telefone:</label>
                        <input type="text" id="customer_phone" name="customer_phone"
                            value="{{ customer['telefone_cliente'] }}" required>
                    </div>
                    <div class="form-item">
                        <label for="customer_email">E-mail:</label>
                        <input type="email" id="email" name="customer_email"
                            value="{{ customer['email_cliente'] }}" required>
                    </div>
                    <div class="form-item">
                        <label for="customer_address">Endereço:</label>
                        <input type="text" id="customer_address" name="customer_address"
                            value="{{ customer['endereco_cliente'] }}" required>
                    </div>
                    <div class="form-item">
                        <label for="customer_city">Cidade:</label>
                        <input type="text" id="customer_city" name="customer_city"
                            value="{{ customer['cidade_cliente'] }}" required>
                    </div>
                    <div class="form-item">
                        <label for="customer_state">Estado:</label>
                        <input type="text" id="customer_state" name="customer_state"
                            value="{{ customer['estado_cliente'] }}" required>
                    </div>
                    <div class="form-item">
                        <label for="customer_zip">CEP:</label>
                        <input type="text" id="zip" name="customer_zip" value="{{ customer['cep_cliente'] }}"
                            required>
                    </div>
                    <div class="form-item">
                        <label for="customer_country">País:</label>
                        <input type="text" id="customer_country" name="customer_country"
                            value="{{ customer['pais_cliente'] }}" required>
                    </div>
                    <div class="form-item form-button">
                        <button type="submit">Salvar Alterações</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
    </main>
    <footer>
        <div class="footer-container register-footer">
            <p>© <span id="Ydate"></span> - GLW Sistemas - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>