<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="{{ url_for('static', filename='javascript/event_handlers.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/manipulator.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/validator.js') }}"></script>

    <title>ERP Concessionaria</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="{{ url_for('index.home')}}">Home</a>
                </div>
                <div class="nav-item">
                    <a href="{{ url_for('sales.sales')}}">Venda</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle.vehicle_register') }}">Veículos</a>
                        <a href="{{ url_for('customer.customer_register') }}">Clientes</a>
                        <a href="{{ url_for('employee.employee_register') }}">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle.vehicle_search') }}">Veículos</a>
                        <a href="{{ url_for('customer.customer_search') }}">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="{{ url_for('reports.reports') }}">Vendas</a>
                        <a href="{{ url_for('reports.reports') }}">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p>{{username}}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">

                    <a href="{{ url_for('settings.settings')}}">Configurações</a>
                    <a href="{{ url_for('auth.logout') }}">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1>Consulta de Clientes</h1>
            </div>
            <div class="search-container search-item">
                <form action="{{ url_for('customer.customer_search') }}" method="POST" id="search-form">
                    <label for="cpf">CPF:</label>
                    <input type="text" id="cpf" name="cpf_customer" placeholder="Digite o CPF" maxlength="14" required>
                    <button type="submit">Buscar</button>
                    {% if message %}
                    <p style="color: green;"><strong>{{ message }}</strong></p>
                    {% endif %}
                </form>

                {% if customer %}
                <div class="result-container">
                    <h2>Resultado da busca</h2>
                    <div class="edit-delete-button">
                        <a href="{{ url_for('customer.edit_customer', cpf=customer['cpf_cliente']) }}" class="material-symbols-outlined edit-button ">edit</a>
                        <form class="delete-Customers-form" action="{{ url_for('customer.delete_customer', cpf=customer['cpf_cliente']) }}"
                            method="POST">
                            <button type="submit" class="material-symbols-outlined delete-button"
                                name="delete-button">delete</button>
                        </form>
                    </div>
                    <div class="customer-details">
                        <p><strong>Nome:</strong> {{ customer['nome_cliente'] }}</p>
                        <p><strong>CPF:</strong> {{ customer['cpf_cliente'] }}</p>
                        <p><strong>RG:</strong> {{ customer['rg_cliente'] }}</p>
                        <p><strong>Data de Nascimento:</strong> {{ customer['data_nascimento'] }}</p>
                        <p><strong>Sexo:</strong> {{ customer['sexo_cliente'] }}</p>
                        <p><strong>Telefone:</strong> {{ customer['telefone_cliente'] }}</p>
                        <p><strong>Email:</strong> {{ customer['email_cliente'] }}</p>
                        <p><strong>Endereço:</strong> {{ customer['endereco_cliente'] }}</p>
                        <p><strong>Estado:</strong> {{ customer['estado_cliente'] }}</p>
                        <p><strong>CEP:</strong> {{ customer['cep_cliente'] }}</p>
                        <p><strong>Cidade:</strong> {{ customer['cidade_cliente'] }}</p>
                        <p><strong>País:</strong> {{ customer['pais_cliente'] }}</p>
                    </div>
                </div>
                {% endif %}

                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p>© <span id="Ydate"></span> - GLW Sistemas - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>