<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="{{ url_for('static', filename='javascript/event_handlers.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/manipulator.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/validator.js') }}"></script>

    <title>ERP Concessionaria</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="{{ url_for('index.home')}}">Home</a>
                </div>
                <div class="nav-item">
                    <a href="{{ url_for('sales.sales')}}">Venda</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle.vehicle_register') }}">Veículos</a>
                        <a href="{{ url_for('customer.customer_register') }}">Clientes</a>
                        <a href="{{ url_for('employee.employee_register') }}">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle.vehicle_search') }}">Veículos</a>
                        <a href="{{ url_for('customer.customer_search') }}">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="{{ url_for('reports.reports') }}">Vendas</a>
                        <a href="{{ url_for('reports.reports') }}">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p>{{username}}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">
                    <a href="#">Perfil</a>
                    <a href="{{ url_for('settings.settings')}}">Configurações</a>
                    <a href="{{ url_for('auth.logout') }}">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1>Cadastro de Veículos </h1>
            </div>
            <form action="{{ url_for('vehicle.vehicle_register') }}" method="POST">

                {% if message %}
                <p style="color: green; text-align: center;"><strong>{{ message }}</strong></p>
                {% endif %}

                {% if error %}
                <p style="color: red; text-align: center;"><strong>{{ error }}</strong></p>
                {% endif %}
                
                <div class="form-container">
                    <div class="form-item">
                        <label for="brand_vehicle">Marca</label>
                        <input type="text" name="brand_vehicle" id="brand_vehicle" required>
                    </div>
                    <div class="form-item">
                        <label for="model_vehicle">Modelo</label>
                        <input type="text" name="model_vehicle" id="model_vehicle" required>
                    </div>
                    <div class="form-item">
                        <label for="engine_vehicle">Motor</label>
                        <input type="text" name="engine_vehicle" id="engine_vehicle" required>
                    </div>
                    <div class="form-item">
                        <label for="plate_vehicle">Placa</label>
                        <input type="text" name="plate_vehicle" id="plate_vehicle" required>
                    </div>
                    <div class="form-item">
                        <label for="color_vehicle">Cor</label>
                        <input type="text" name="color_vehicle" id="color_vehicle" required>
                    </div>
                    <div class="form-item">
                        <label for="year_fabrication">Ano fabricação</label>
                        <input type="text" name="year_fabrication" id="year_fabrication" maxlength="4" required>
                    </div>
                    <div class="form-item">
                        <label for="year_vehicle">Ano Modelo</label>
                        <input type="text" name="year_model" id="year_model" maxlength="4" required>
                    </div>
                    <div class="form-item">
                        <label for="kms_vehicle">Quilometragem</label>
                        <input type="text" name="kms_vehicle" id="kms_vehicle" maxlength="8" required>
                    </div>
                    <div class="form-item">
                        <label for="type_vehicle">Tipo Carroceria</label>
                        <select name="type_vehicle" id="type_vehicle">
                            <option value="" disabled selected>Selecione um tipo</option>
                            <option value="Sedan">Sedan</option>
                            <option value="Hatch">Hatch</option>
                            <option value="SUV">SUV</option>
                            <option value="Picape">Picape</option>
                            <option value="Van">Van</option>
                            <option value="Caminhão">Caminhão</option>
                            <option value="Moto">Moto</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="condition_vehicle">Condição</label>
                        <select name="condition_vehicle" id="condition_vehicle">
                            <option value="" disabled selected>Selecione uma Condição</option>
                            <option value="Novo">Novo</option>
                            <option value="Semi-novo">Semi-novo</option>
                            <option value="Usado">Usado</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="chassi_vehicle">Chassi</label>
                        <input type="text" name="chassi_vehicle" id="chassi_vehicle" maxlength="17" required>
                    </div>
                    <div class="form-item">
                        <label for="renavam_vehicle">Renavam</label>
                        <input type="text" name="renavam_vehicle" id="renavam_vehicle" maxlength="11" required>
                    </div>
                    <div class="form-item">
                        <label for="price_vehicle">Preço Compra</label>
                        <input type="text" name="buyprice_vehicle" id="buyprice_vehicle" class="price_formatter"
                            required>
                    </div>
                    <div class="form-item">
                        <label for="sellprice_vehicle">Preço Venda</label>
                        <input type="text" name="sellprice_vehicle" id="sellprice_vehicle" class="price_formatter"
                            required>
                    </div>
                    <div class="form-item form-button-vehicle-register">
                        <button type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-container register-footer">
            <p>© <span id="Ydate"></span> - GLW Sistemas - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>