<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="{{ url_for('static', filename='javascript/event_handlers.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/manipulator.js') }}" defer></script>
    <script src="{{ url_for('static', filename='javascript/validator.js') }}" defer></script>

    <title>ERP Concessionaria</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="{{ url_for('index.home')}}">Home</a>
                </div>
                <div class="nav-item">
                    <a href="{{ url_for('sales.sales')}}">Venda</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle.vehicle_register') }}">Veículos</a>
                        <a href="{{ url_for('customer.customer_register') }}">Clientes</a>
                        <a href="{{ url_for('employee.employee_register') }}">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle.vehicle_search') }}">Veículos</a>
                        <a href="{{ url_for('customer.customer_search') }}">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="{{ url_for('reports.reports') }}">Vendas</a>
                        <a href="{{ url_for('reports.reports') }}">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p>{{username}}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">

                    <a href="{{ url_for('settings.settings')}}">Configurações</a>
                    <a href="{{ url_for('auth.logout') }}">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1>Consulta de Veiculos </h1>
            </div>
            <div class="search-container search-item">
                <form action="{{ url_for('vehicle.vehicle_search') }}" method="POST" id="search-form">
                    <label for="plate_vehicle">Placa</label>
                    <input type="text" name="plate_vehicle" id="plate_vehicle" placeholder="Digite a Placa do Veículo" required>
                    <button type="submit">Buscar</button>
                    {% if message %}
                    <p style="color: green;"><strong>{{ message }}</strong></p>
                    {% endif %}
                </form>

                {% if vehicle %}
                <div id="result-container">
                    <div class="search-edit">
                        <h2>Resultado da Busca</h2>
                        <div class="edit-delete-button">
                            <a href="{{ url_for('vehicle.edit_vehicle', plate=vehicle['placa']) }}" class="material-symbols-outlined edit-button" name="edit-button">edit<a>
                            <form class="delete-form" action="{{ url_for('vehicle.delete_vehicle', plate=vehicle['placa']) }}" method="POST">
                                <button type="submit" class="material-symbols-outlined delete-button" name="delete-button">delete</button>
                            </form>
                        </div>
                    </div>
                    <div id="vehicle-details">
                        <p><strong>Disponibilidade:</strong> {{ vehicle['disponibilidade']}}</p>
                        <p><strong>Marca:</strong> {{ vehicle['marca'] }}</p>
                        <p><strong>Modelo:</strong> {{ vehicle['modelo'] }}</p>
                        <p><strong>Motor:</strong> {{ vehicle['motor_veiculo'] }}</p>
                        <p><strong>Ano de Fabricação:</strong> {{ vehicle['ano_fabricacao'] }}</p>
                        <p><strong>Ano do Modelo:</strong> {{ vehicle['ano_modelo'] }}</p>
                        <p><strong>Cor:</strong> {{ vehicle['cor'] }}</p>
                        <p><strong>Placa:</strong> {{ vehicle['placa'] }}</p>
                        <p><strong>Chassi:</strong> {{ vehicle['chassi'] }}</p>
                        <p><strong>Quilometragem:</strong> {{ vehicle['km_rodado'] }} km</p>
                        <p><strong>Preço:</strong> {{ vehicle['valor_venda'] }}</p>
                        <p><strong>Condição:</strong> {{ vehicle['condicao'] }}</p>
                    </div>
                </div>
                {% endif %}

                {% if error %}
                <p style="color: red;"><strong>{{ error }}</strong></p>
                {% endif %}
            </div>

        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p>© <span id="Ydate"></span> - GLW Sistemas - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>