<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@600" />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <title>ERP Concessionaria</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logo-empresa">
            </div>
            <nav class="nav ">
                <div class="nav-item">
                    <a href="{{ url_for('index')}}">Home</a>
                </div>
                <div class="nav-item">
                    <a href="{{ url_for('sales')}}">Venda</a>
                </div>
                <div class="nav-item">
                    <a href="#">Cadastro</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle_register') }}">Veículos</a>
                        <a href="{{ url_for('customer_register') }}">Clientes</a>
                        <a href="{{ url_for('employee_register') }}">Funcionários</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Consulta</a>
                    <div class="submenu">
                        <a href="{{ url_for('vehicle_search') }}">Veículos</a>
                        <a href="{{ url_for('customer_search') }}">Clientes</a>
                    </div>
                </div>
                <div class="nav-item">
                    <a href="#">Relatórios</a>
                    <div class="submenu">
                        <a href="#">Vendas</a>
                        <a href="#">Estoque</a>
                    </div>
                </div>
            </nav>

            <div class="user-container">
                <a class="user" id="user-icon" href="#">
                    <p>{{username}}</p>
                    <i class="material-symbols-outlined user-icon">account_circle</i>
                </a>
                <div id="user-submenu" class="user-submenu">

                    <a href="{{ url_for('settings')}}">Configurações</a>
                    <a href="{{ url_for('logout') }}">Sair</a>
                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="main-container">
            <div class="main-content">
                <h1>Cadastro de Veículos </h1>
            </div>
            <form action="" method="POST">

                {% if message %}
                <p style="color: green;"><strong>{{ message }}</strong></p>
                {% endif %}

                {% if error %}
                <p style="color: red;"><strong>{{ error }}</strong></p>
                {% endif %}
                
                <div class="form-container">
                    <div class="form-item">
                        <label for="brand_vehicle">Marca</label>
                        <input type="text" name="brand_vehicle" id="brand_vehicle" required value="{{ vehicle['marca'] }}">
                    </div>
                    <div class="form-item">
                        <label for="model_vehicle">Modelo</label>
                        <input type="text" name="model_vehicle" id="model_vehicle" required value="{{ vehicle['modelo'] }}">
                    </div>
                    <div class="form-item">
                        <label for="engine_vehicle">Motor</label>
                        <input type="text" name="engine_vehicle" id="engine_vehicle" required value="{{ vehicle['motor_veiculo'] }}">
                    </div>
                    <div class="form-item">
                        <label for="plate_vehicle">Placa</label>
                        <input type="text" name="plate_vehicle" id="plate_vehicle" required value="{{ vehicle['placa'] }}">
                    </div>
                    <div class="form-item">
                        <label for="color_vehicle">Cor</label>
                        <input type="text" name="color_vehicle" id="color_vehicle" required value="{{ vehicle['cor'] }}">
                    </div>
                    <div class="form-item">
                        <label for="year_fabrication">Ano fabricação</label>
                        <input type="text" name="year_fabrication" id="year_fabrication" required value="{{ vehicle['ano_fabricacao'] }}">
                    </div>
                    <div class="form-item">
                        <label for="year_vehicle">Ano Modelo</label>
                        <input type="text" name="year_model" id="year_model" required value="{{ vehicle['ano_modelo'] }}">
                    </div>
                    <div class="form-item">
                        <label for="kms_vehicle">Quilometragem</label>
                        <input type="text" name="kms_vehicle" id="kms_vehicle" required value="{{ vehicle['km_rodado'] }}">
                    </div>
                    <div class="form-item">
                        <label for="type_vehicle">Tipo Carroceria</label>
                        <select name="type_vehicle" id="type_vehicle">
                            <option value="" disabled selected>Selecione um tipo</option>
                            <option value="Sedan" {% if vehicle["categoria"] == "Sedan" %}selected{% endif %}>Sedan</option>
                            <option value="Hatch" {% if vehicle["categoria"] == "Hatch" %}selected{% endif %}>Hatch</option>
                            <option value="SUV" {% if vehicle["categoria"] == "SUV" %}selected{% endif %}>SUV</option>
                            <option value="Picape" {% if vehicle["categoria"] == "Picape" %}selected{% endif %}>Picape</option>
                            <option value="Van" {% if vehicle["categoria"] == "Van" %}selected{% endif %}>Van</option>
                            <option value="Caminhão" {% if vehicle["categoria"] == "CAminhão" %}selected{% endif %}>Caminhão</option>
                            <option value="Moto" {% if vehicle["categoria"] == "Moto" %}selected{% endif %}>Moto</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="condition_vehicle">Condição</label>
                        <select name="condition_vehicle" id="condition_vehicle">
                            <option value="" disabled selected>Selecione uma Condição</option>
                            <option value="Novo" {% if vehicle["condicao"] == "Novo" %}selected{% endif %}>Novo</option>
                            <option value="Usado" {% if vehicle["condicao"] == "Usado" %}selected{% endif %}>Usado</option>
                            <option value="Semi-novo" {% if vehicle["condicao"] == "Semi-novo" %}selected{% endif %}>Semi-novo</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label for="chassi_vehicle">Chassi</label>
                        <input type="text" name="chassi_vehicle" id="chassi_vehicle_vehicle" required value="{{ vehicle['chassi'] }}">
                    </div>
                    <div class="form-item">
                        <label for="renavam_vehicle">Renavam</label>
                        <input type="text" name="renavam_vehicle" id="renavam_vehicle" required value="{{ vehicle['renavam'] }}">
                    </div>
                    <div class="form-item">
                        <label for="price_vehicle">Preço Compra</label>
                        <input type="text" name="buyprice_vehicle" id="buyprice_vehicle" class="price_formatter"
                            required value="{{ vehicle['valor_compra'] }}">
                    </div>
                    <div class="form-item">
                        <label for="sellprice_vehicle">Preço Venda</label>
                        <input type="text" name="sellprice_vehicle" id="sellprice_vehicle" class="price_formatter"
                            required value="{{ vehicle['valor_venda'] }}">
                    </div>
                    <div class="form-item form-button-vehicle-register">
                        <button type="submit">Salvar Alterações</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-container register-footer">
            <p>© <span id="Ydate"></span> - GLW Sistemas - Todos os direitos reservados</p>
        </div>
    </footer>
</body>

</html>